**/__pycache__/
*.pyc
settings.json
maledict/database/csv
maledict/database/.command_history
maledict/database/maledict.db
maledict/database/maledict.db.bak
maledict/database/.maledictrc
maledict/database/backups
maledict/version.py
dist/
build/
debian/
maledict.egg-info/
